# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (ignore large/raw, allow small samples)
data/*.csv
!data/sample_*.csv

# OS files
.DS_Store
Thumbs.db
